<launch>
  <arg name="load_map" default="false" doc="load map using map server"/>
  <arg name="holonomic" default="true" doc="true if robot is omni directional"/>

  <group if="$(arg load_map)">
    <arg name="map" default="$(find ergodic_exploration)/maps/maze.yaml"/>

    <node pkg="map_server" name="map_server" type="map_server"
          args="$(arg map)"/>
  </group>

  <node if="$(arg holonomic)" pkg="ergodic_exploration" type="exploration_omni" name="exploration_omni" output="screen">
    <rosparam command="load" file="$(find ergodic_exploration)/config/explore_omni.yaml" />
  </node>

  <node unless="$(arg holonomic)" pkg="ergodic_exploration" type="exploration_cart" name="exploration_cart" output="screen">
    <rosparam command="load" file="$(find ergodic_exploration)/config/explore_cart.yaml" />
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="true"
    args="-d $(find ergodic_exploration)/config/explore.rviz"/>
</launch>
