<launch>
  <node pkg="ergodic_exploration" type="exploration" name="exploration" output="screen">
    <rosparam command="load" file="$(find ergodic_exploration)/config/explore.yaml" />
    <!-- <remap from="map"                      to="/ridgeback/rtabmap/octomap_grid"/> -->
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="true"
    args="-d $(find ergodic_exploration)/config/explore.rviz"/>
</launch>
